body {
    min-height: 0px;
}

div.margin-div {
    height: 40px;
}

div#svg_div {
    text-align: center;
}

.curve {
    fill: none;
    stroke-width: 1px;
}

div.curve_tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 16px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 6px;
    pointer-events: none;
    z-index: 9999;
}

.input-group-container {
    width: 400px;
    margin: auto;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    width: 50%;
}

.select_text_div {
    width: 200px;
    display:inline;
    text-align: center;
    float: left;
}

.multiselect {
    width: 400px;
}

.select_outer_div {
    width: 600px;
    margin: auto;
}

div#table_div {
    width: 1000px;
    margin: auto;
}

div.color {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    height: 3px;
}

.btn-group-container {
    width: 220px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
